<div id="<%= dom_id user %>">

    <% if user.photo.attached? %>
    <%= cl_image_tag user.photo.key, class: "image-user" %>
  <% elsif user.image.present? %>
    <%= image_tag user.image, class: "image-user" %>
  <% else %>
    <%= image_tag "https://i.pinimg.com/originals/37/cb/e0/37cbe07b2362239d8a0814988c0a4749.jpg", class: "image-user" %>
  <% end %>

  <p>
    <strong class="user-card-title">Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong class="user-card-title">Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong class="user-card-title">Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong class="user-card-title">CPF:</strong>
    <%= user.cpf %>
  </p>

</div>
