<%= render "shared/navbar" %>

<div class="index-container">
  <h1>Welcome!</h1>
  <h4>Search your user below:</h2>
    <%= form_tag(users_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
      <input class="form-control rounded-pill mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enviar</button>
    <% end %>
</div>


<p style="color: green"><%= notice %></p>

<h1 class="text-center">Todos os Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
