<div class="text-center p-3">

<p style="color: green"><%= notice %></p>


<%= render @user %>

</div>


<div class="text-center mt-3">
  <i class="fa-regular fa-pen-to-square" style="color: #f0857a;"></i>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <i class="fa-solid fa-rotate-left" style="color: #f0857a;"></i>
    <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete, class: "button-purple p-2 mt-3" %>
</div>
